body {
  font-family: "Cormorant", serif;
}

.app-header {
  margin: 36px;
}

h1 {
  display: inline-block;
  font-weight: 300;
  margin: 0 32px 8px 0;
}
.app-nav {
  display: inline-block;
}
.app-nav ul {
  padding: 0;
}

.app-nav li {
  display: inline-block;
  padding: 0;
}

a {
  font-size: 20px;
  color: black;
  text-decoration: none;
  margin: 0 8px;
}

a.active {
  border-bottom: 1px solid black;
}

.app-section_gallery {
  display: grid;
  padding: 20px 40px;
  grid-template-columns: 1fr 1fr;
}

.card {
  display: flex;
  flex-direction: column;

  /* subtracting margin/padding to prevent overflow */
  margin: 0 20px 40px 0;
}

.card img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.card img:hover{
  opacity: 0.9;
}

h2 {
  font-size: 16px;
  font-weight: 300;
  margin: 16px 0 8px 0;
  display: inline;
}

.app-section_text {
  margin: 0px 0 100px 100px;
  width: 40%;
  min-width: 500px;
}
.app-section_text a {
  margin: 0;
  font-size: 32px;
}

p {
  /* display: block; */

  font-size: 32px;
  font-weight: 300;
}
.contact-box {
  margin: 80px 100px;
}
footer h4 {
  margin: 0;
}
