body {
  font-family: "Cormorant", serif;
}

.app-header {
  margin: 32px;
}

h1 {
  display: inline-block;
  font-weight: 300;
  margin: 0 32px 0 0;
}
.app-nav {
  display: inline-block;
}
.app-nav ul {
  padding: 0;
}

.app-nav li {
  display: inline-block;
  padding: 0;
}

a {
  font-size: 20px;
  color: black;
  text-decoration: none;
  margin: 0 8px;
}

a.active {
  border-bottom: 1px solid black;
}

.app-section_gallery {
display: grid;
padding: 20px 100px;
grid-template-columns: 1fr 1fr;

    
}

img {
height: 400px;
}

.card {
 
  display :flex;
  flex-direction: column;

  /* subtracting margin/padding to prevent overflow */
  margin: 0 30px 60px 0;
}

h2 {
  font-size: 16px;
 
  margin: 20px 0;
}

.title {

  display: inline;
}

.app-section_text{
    margin-left: 100px;
    
}
.app-section_text a{
   margin: 0;
   font-size: 24px;
}


p{
    display: block;
    width: 400px;
    font-size: 24px;

}
.contact-box{
    margin: 80px 100px
}
footer h4{

margin: 0;
}